@import "./utils/variables";
@import './utils/vars';
@import './components/page-header';
@import './components/hero';
@import './components/principle';
@import './components/work';
@import './components/team';
@import './components/clients';
@import './components/footer';
@import './components/modal';
@import './components/portfolio';