.mob-menu__button{
    display: inline-flex;
    margin: 0;
    padding: 0;
    background-color: transparent;
    margin-left: auto;
    border: none;

    @media screen and (min-width:768px) {
        display: none;
    }
}
.mob-menu__button .icon-cross{
    display: none;
}
.mob-menu__button.is-open .icon-cross{
    display: block;
}
.mob-menu__button.is-open .icon-menu{
    display: none;
}
.menu-container{
    background-color: $white-bg-color;
    text-align: center;
    font-size: 24px;
    padding: 20px;
    height: 300px;
    
    
    @media screen and (max-width:767px) {
        display: none;
        position: absolute;
        bottom:0px;
        right:0px;
        width: 100vw;
        height: 100vh;
        left: 0;
        top: 100%;
        padding: 9px 0px 0px 40px;
    &.is-open{
        display: block;
    }
    }
    @media screen and (min-width:768px) {
        display: none;
        opacity: 0;
    }
}


.mob-soc {
    display: flex;
    list-style-type: none;
}

.mob-soc li:not(:last-child) {
    padding: 0 5px;
    
}

.mob-soc li {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    }
    
.mob-soc li:last-child {
    border-right: none;
    padding-left: 5px;
}

.mob-soc li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
}

.mob-navigation {
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
}

.mob-navigation ul {
    list-style-type: none;
}

.mob-navigation ul li a{
    text-decoration: none;
}

.mob-contacts {
    position: absolute;
    bottom: 110px;
}

.mob-site-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mob-site-nav li a{
    color: black;
}

.mob-site-nav .mob-site-nav__link--current{
    color: $accent-color;
}

.mob-site-nav li:not(:last-child) {
    margin-bottom: 32px;
}

.contact__info{
    list-style-type: none;
    margin-bottom: 65px;
}

.contact__info__list {
    justify-content: flex-start;
}

.contact__telefon {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
    margin-bottom: 32px;
}

button:hover .icon-cross {
    fill: #2196F3;
  }

.icon-cross {
    fill: black;
  }


  
@media screen and (max-width: 479px) {
    .mob-navigation {
        font-size: 32px;
    }

    .contact__telefon {
        font-size: 27px;
    }

    .contact__email {
        font-size: 21px;
    }

    .mob-soc li a {
        font-size: 14px;
    }

    .menu-container {
        padding-left: 25px;
    }
}

  