.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.container--nav{
    display: flex;
    align-items: center;
}
.page{
    margin: 0;
    background-color:$page-bg-color;
    color: $title-text-color;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
font-size: 14px;
background-color:$white-bg-color;
}
.page-header{
display: flex;
    align-items: center;
    background-color:$white-bg-color;
    border-bottom: 1px solid $PageHeaderBorderBottom;
}
.container{
width: 1200px;
padding-left: 15px;
padding-right: 15px;
margin-left: auto;
margin-right: auto;
}
.nav{
display: flex;
}
.nav__logo{
    display: flex;
    align-items: center;
font-family: Raleway, sans-serif;
font-style: normal;
color: $black-color;
text-decoration: none;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
}
.nav__logo--icon{
    color: $accent-color;
}
.site-nav{
    display: flex;
    list-style: none;
    margin-left: 93px;
}
.site-nav__item{
padding: 0;
margin: 0;
margin-right: 50px;
}
.site-nav__item:last-child{
    margin-right: 0px;
}
.site-nav__link{
display: block;
padding-top: 32px;
padding-bottom: 32px;
position: relative;

color: $title-text-color;
text-decoration: none;
font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
&:hover{
    color: $accent-color;
}
&::after{
       content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
.site-nav__link--current{
color: $accent-color;
    &::after{
            content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    opacity: 1;
    display: block;
    width: 100%;
    height: 4px;
    background-color:$accent-color;
    border-radius: 2px;
    }
    &:hover::after{
        opacity: 1;
    }
}
.contact{
margin-left: auto;
display: flex;
list-style: none;
justify-content: center;
align-items: baseline;
}
.contact__item{
justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 50px;
    &:last-child{
        margin-right: 0px;
    }
}
.contact__list{
        text-decoration: none;
    font-weight: 500;
line-height: 1.1;
letter-spacing: 0.02em;
 display: flex;
    align-items: center;
    color: $primary-text-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover, &:focus{
        color: $accent-color;
    }
}
.contact__icon{
margin-right: 10px;
    fill: $primary-text-color;
    .contact__list:hover &{
        fill: currentColor;
    }
}