.portfolio__page{
padding-top: 94px;
padding-bottom: 94px;
}
.button-menu{
display: flex;
justify-content: center;
background: $white-bg-color;
list-style: none;

}
.button-menu__item{
 margin-right: 8px;
margin-bottom: 50px;
background: $second-bg-color;
}
.button-menu__item:last-child{
    margin-right: 0px;
}
.button{
color: $title-text-color;
background-color:$second-bg-color;
font-family: inherit;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
border-radius: 4px;
border: 1px solid transparent;;
padding-top: 6px;
 padding-bottom: 6px;
padding-left: 22px;
padding-right: 22px;
&:hover, &:focus{
background-color:$accent-color;
color: $white-bg-color;
}
}
.features{
list-style: none;
display: flex;
flex-wrap: wrap;
}
.features__list{
width: 370px;
margin-right: 30px;
margin-bottom: 30px;
height: 404px;
border: 1px solid $img-bg-color;
background-color: $white-bg-color;
&:focus, &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 
}
}
.fetures__list:nth-child(3n){
   margin-bottom: 0px;
}
.features__list:nth-last-child(3n+1){
    margin-right: 0px;
}
.features__titel--hover{
        background-color:rgba(33, 150, 243, 0.9);;
    width: 100%;
    height: 100%;

    position: absolute;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 63px;
    padding-bottom: 63px;
    opacity: 0;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: $white-bg-color;
    transform: translateY(0);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .features__list:hover &{
    opacity: 1;
    transform: translateY(-100%);
    }
}
.features__item{
padding-left: 24px;
padding-right: 24px;
padding-top: 20px;
padding-bottom: 20px;
}
.features__title{
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: $title-text-color;
}
.features__subtitle{
    font-size: 16px;
line-height: 30px;
color: $primary-text-color;
}
.features__img{
overflow: hidden;
position: relative;
}